h1,
h2,
h3, p {
  margin-top: 0;
  margin-bottom: 0;
}

// h1 {
//   font-size: rem(24);
//   margin-bottom: rem(3);
//   @include breakpoint(large) {
//     font-size: rem(28);
//   }
// }

// h2 {
//   font-size: rem(24);
//   margin-bottom: rem(24);
//   color: var(--dark-text2);
// }

a,
a:visited,
a:active {
  text-decoration: none;
}